# XCode
LayoutTest.xcodeproj/xcuserdata/*
LayoutTest.xcworkspace/xcuserdata/*
LayoutTest.xcodeproj/project.xcworkspace/xcuserdata

# Cocoapods
Pods

# Sample App
xcuserdata

# Docs
_build
.buildinfo

